body {
    background-color: grey;
    font-style: italic;
}

h1 {
    background-color: black;
    color: white;
}

p, #lenght {
    font-size: 32px;
}

#lenght {
    border: none;
    background-color: #4CAF50;
    padding: 15px 32px;
    border-radius: 8px;
}

.lenght {
    font-size: 32px;
}

#button, #copy {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    font-size: 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover,  #copy:hover {
    background-color: #00ff0d;
}

#button:active,  #copy:active {
    background-color: #172618;
    transform: translateY(2px);
}